In [2]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [3]:
say_hello()

Hello!

In [27]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [29]:
# Call the function.
say_something("Hello World")

Hello World

In [30]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [41]:
def math_passing_count(passing_math_count,student_count):
    
    return passing_math_count / float(student_count) * 100
passing_math_count=29370
total_student_count=39170

In [42]:
math_passing_count(passing_math_count, total_student_count)

74.9808526933878

In [48]:

#a list of grades
my_grades=['B', 'C', 'B' , 'D']

In [55]:
import pandas as pd
#convertmy_grades to series
my_grades=pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [56]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [57]:
#format my grades to whole value with .0f
my_grades=[92.34,84.56,86.76,98.32]
for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [58]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [60]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [61]:
class Cat:
    def __init__(self, name):
        self.name = name

In [63]:
first_cat=Cat("Felix")
print(first_cat.name)

Felix

In [64]:
#skill drill
second_cat=Cat("Garfield")
print(second_cat.name)

Garfield

In [71]:
class Dog:
    def __init__(self,name,color,sound):
        
        self.name=name
        self.color=color
        self.sound=sound
    
    def bark(self):
        return self.sound + ' ' + self.sound

In [72]:
first_dog= Dog('Fido','black','woof!')
print(first_dog.name)
print(first_dog.color)

first_dog.bark()

Fido
black

'woof! woof!'

In [73]:
#skill drill
second_dog=Dog('lady','blonde','arf!')
print(second_dog.name)
print(second_dog.color)

second_dog.bark()

lady
blonde

'arf! arf!'