In [104]:
import pandas as pd

In [105]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School",
                "Johnson High School", "Ford High School", "Thomas High School"]

In [106]:

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [107]:
#skill Drill
for schools in high_schools:
    print(schools)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [108]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [109]:
#convert the array, or list of dictionaries, to a DataFrame 
school_df=pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [110]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [111]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [112]:
#Skill Drill
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["School Type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [113]:
#Skill Dril
#Create a dictionary of information on high schools.
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

school_df=pd.DataFrame(high_schools_dict)

In [114]:
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [115]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [116]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [117]:
#Skill drill 4.3.5 lastBased on the following image, create a list for each column and add each list to a new Pandas DataFrame.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

school_df = pd.DataFrame(high_schools_dicts)

school_df

NameError: name 'high_schools_dicts' is not defined